@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-weight: 400;
  background: #dbd8e3;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
  display: table;
}

/*Home Section*/

nav {
  height: 75px;
  width: 100%;
  position: fixed;
  background-color: #cfc4cc;
}
label.logo {
  color: #8d1a72;
  font-size: 35px;
  font-weight: 600;
  font-style: italic;
  line-height: 80px;
  padding: 0 100px;
}

nav ul {
  float: right;
  margin-right: 10%;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  font-size: 15px;
  font-weight: 400;
}
nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 17px;
  text-transform: capitalize;
}

nav a:hover {
  color: #8d1a72;
  border-bottom: 2px solid #8d1a72;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media screen and (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 750px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #cfc4cc;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    text-align: center;
  }
  nav ul li a {
    font-size: 20px;
    color: black;
  }
  nav a:hover {
    background: none;
    border-bottom: none;
    color: #8d1a72;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/*Banner*/
#home {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.sec_container {
  min-height: 90vh;
  max-width: 1500px;
  margin: 20px 50px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.banner-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
}
.banner-section h2 {
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 20px;
}

.Prf {
  font-size: 25px;
  font-weight: 400;
}

.span-col {
  color: #8d1a72;
  font-weight: bold;
}

.img {
  display: grid;
  place-items: center;
}

.img img {
  width: min(20rem, 75%);
  border-radius: 75%;
  border: 2px solid rgb(202, 38, 199);
}
.resume {
  text-align: center;
  background-color: #8a3b77;
  color: antiquewhite;
  text-decoration: none;
  padding: 10px;
  border-radius: 30px;
  margin: 10px 15px;
  width: 35%;
}

.resume:hover {
  box-shadow: 3px 4px 6px rgb(217, 215, 215), -3px -2px 5px gray;
}

@media (max-width: 750px) {
  .sec_container {
    margin: 50px 10px;
    padding: 5rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .img {
    grid-area: 1/1/2/2;
  }
  .banner-section {
    justify-content: center;
    align-items: center;
  }
}
/*About Section*/
#about {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 15px;
  margin: 15px;
}
.exp-category h3,h4 {
  font-size: 18px;
}

.edu-category {
  background-color: #8d1a72;
  color: antiquewhite;
  padding: 15px;
  margin: 15px 30px;
  box-shadow: 2px 4px 5px rgb(105, 106, 111), -2px -2px 5px rgb(217, 215, 215);
  display: inline-block;
  width: 40%;
}
h1.abt {
  margin: 60px 0 10px 0;
}
.exp-category {
  background-color: #8d1a72;
  color: antiquewhite;
  display: inline-block;
  width: 40%;
  padding: 20px;
  margin: 15px 30px;
  box-shadow: 2px 4px 5px rgb(105, 106, 111), -2px -2px 5px rgb(217, 215, 215);
}

.exp-category:hover {
  box-shadow: 4px 6px 8px rgb(217, 215, 215), -3px -2px 5px gray;
}

.edu-category:hover {
  box-shadow: 4px 6px 8px rgb(217, 215, 215), -3px -2px 5px gray;
}

@media screen and (max-width: 750px) {
  #about {
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    margin: 15px;
  }
  h1.abt {
    text-align: center;
  }
  .para {
    text-align: justify;
  }
  .edu-category {
    text-align: center;
    font-size: 12px;
    padding: 25px;
    margin: 10px 5px;
    box-shadow: 2px 4px 5px rgb(105, 106, 111), -2px -2px 5px rgb(217, 215, 215);
    display: inline-block;
    width: 45%;
  }
   .exp-category h3,h4 {
    font-size: 18px;
  }
  p {
    margin-bottom: 10px;
  }
  h1 {
    margin-top: 10px;
  }

  .exp-category {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 90%;
    padding: 25px;
    margin: 10px 5px;
    box-shadow: 2px 4px 5px rgb(105, 106, 111), -2px -2px 5px rgb(217, 215, 215);
    font-size: 20px;
  }
  .exp-category ul li {
    list-style-type: circle;
    text-align: justify;
  }
}

@media screen and (max-width: 450px) {
  .edu {
    font-size: 8px;
    justify-content: center;
  }
  .edu-category {
    width: 90%;
    padding: 15px;
    margin: 10px 5px;
  }
}

/*Skills Section*/
h1.head {
  text-align: center;
  margin: 20px;
  padding: 80px 20px 20px 20px;
}

.skillset {
  margin: 0 25px;
}
.setdata {
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .head {
    text-align: center;
  }

  .setdata {
    padding: 10px 5px;
  }
}

/*Project Section*/
.title {
  text-align: center;
  margin: 30px 20px;
  padding-top: 80px;
}
.article {
  padding: 40px 15px;
  background-color: #cfc4cc;
  border-radius: 13%;
  border: 1px solid gainsboro;
  box-shadow: 2px 4px 5px rgb(105, 106, 111), -2px -2px 5px rgb(217, 215, 215);
}
.article:hover {
  background: #8d1a72;
  font-size: 16px;
  padding: 35px 17px;
}
.details h2 {
  font-size: 17px;
  text-align: center;
  margin: 10px 15px;
  padding: 3px 8px;
  top: 20px;
  line-height: 1.2;
}
.details img {
  width: 300px;

}

.details {
  font-size: 15px;
  text-align: center;
  display: inline-block;
  margin: 15px 25px;
}
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 30px;
}

@media screen and (max-width: 1000px) {
  .about-container {
    display: flex;
    justify-content: center;
    width: 350px;
  }
  .details img {
    width: 230px;
  }
  #projects .experience-details-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
  }
}

@media screen and (max-width: 770px) {
  #projects .experience-details-container {
    display: flex;
    text-align: center;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 10px;
    align-items: center;
  }
  .details img {
    width: 260px;
  }
  .experience-details-container {
    justify-content: center;
    align-items: center;
  }
  .details {
    margin: 7px 10px;
  }
}

/*Contact Section*/

#contact {
  padding: 30px;
  margin: 30px;

  box-sizing: border-box;
}

.title {
  text-align: center;
  margin: 40px 0 30px 0;
}
.btn {
  margin: 20px 0;
  display: block;
  justify-content: center;
  align-items: center;
}
.form1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 15px;
}
.type {
  margin: 10px 0;
}
.form-control {
  width: 700px;
  height: 50px;
}

#msg {
  color: rgb(0, 0, 0);
  text-align: center;
}
.cont {
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .form-control {
    display: inline-block;
    width: 300px;
  }
  .title {
    text-align: center;
  }
}

/*Footer Section*/
footer {
  border-top: 1.5px solid rgb(139, 133, 133);
}

footer p {
  text-align: center;
  margin: 30px 0;
}
